{% for source in sphinx_sources %}
{% for source_name, source_values in source.iteritems() %}
{{ source_name }}
{
{% for value in source_values %}
  {{ value }}
{% endfor %}
}
{% endfor %}
{% endfor %}
